<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue News | you never ever seen.</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
</head>
<body>
  <div class="container" id="app">
    <h3 class="text-center">Vue News from NYT</h3>
    <!-- News Categories -->
    <section class="callout secondary">
      <h4 class="text-center">Select News Category</h4>
      <form>
        <div class="row text-center">
          <div class="large-6" style="margin: 20px auto 0;">
            <select v-model="section" @change="getPosts(section)">
              <option v-for="section in sections" :value="section">{{ section }}</option>
            </select>
          </div>
        </div>
      </form>
    </section>
    <news-list :results="results"></news-list>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
